input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  z-index: 3;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #253B5F;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.coverage_slider_wrap {
    position: relative;
    width: 100%;
}
.coverage_slider {
    position: relative;
    width: 100%;
}

.slider_companion {
    background: #D9D9D9;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;
    top: calc(100% - 24px);
    /* left: calc( PERCENTAGE * (100% - 35px)); /* add this line dynamically via jQuery */
    display: none;
    pointer-events: none; /*click-through*/
}

.slider_companion2 {
    background: #D9DA17;
    border-radius: 50px;
    width: 110px;
    height: 35px;
    position: absolute;
    z-index: 1;
    top: calc(100% - 24px);
    display: none;
    pointer-events: none; /*click-through*/
}
.reco_text {
    margin-top: 35px;
    width: 110px;
    font-family: Lora,sans-serif;
    color: #707070;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
}

input[type='range']:hover {
  outline: none;
}
input[type='range']:hover::-webkit-slider-thumb {
  outline: 20px solid #D3E9F399;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition-timing-function: ease-in .2s;
}
input[type='range']:hover::-moz-range-thumb {
  outline: 20px solid #D3E9F399;
}
input[type='range']:hover::-ms-thumb {
  outline: 20px solid #D3E9F399;
}
